.table-container {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.table {
	margin-bottom: 0;

	thead, tbody, tfoot {
		tr {
			th,td {
				font-size: 12px;
				padding: 16px 12px; 
			}
		}
	}
	th {
		padding: 16px 8px; 
		font-weight: 500;
	}

	tbody {
		color: $color7;
	}
}

.table-align-middle {
	tr {

		td {
			vertical-align: middle;
		}
	}
}

.table-dark {

	tbody {
		color: $colorC;
	}
}

.table-striped {
	tbody tr:nth-of-type(odd) {
		background-color: rgba(243, 245, 247, 0.41); 
	}
}

.table-hover {
	tbody {
		tr {
			&:hover {
				background-color: #f3f5f7;
			}
		}
	}
}

.table-head-bg {

	thead {
		tr {
			th {
				color: $colorF;
				border: 0;
			}
		}
	}
}

.table-head-bg.table-head-primary {
	thead {
		tr {
			th {
				background-color: $color-primary;
			}
		}
	}
}

.table-head-bg.table-head-secondary {
	thead {
		tr {
			th {
				background-color: $color-secondary;
			}
		}
	}
}

.table-head-bg.table-head-success {
	thead {
		tr {
			th {
				background-color: $color-success;
			}
		}
	}
}

.table-head-bg.table-head-danger {
	thead {
		tr {
			th {
				background-color: $color-danger;
			}
		}
	}
}

.table-head-bg.table-head-warning {
	thead {
		tr {
			th {
				background-color: $color-warning;
			}
		}
	}
}

.table-head-bg.table-head-info {
	thead {
		tr {
			th {
				background-color: $color-info;
			}
		}
	}
}

.table-head-bg.table-head-dark {
	thead {
		tr {
			th {
				background-color: $color-dark;
			}
		}
	}
}

.table-bordered-primary {
	border: 2px solid $color-primary;
}

.table-bordered-secondary {
	border: 2px solid $color-secondary;
}

.table-bordered-success {
	border: 2px solid $color-success;
}

.table-bordered-danger {
	border: 2px solid $color-danger;
}

.table-bordered-warning {
	border: 2px solid $color-warning;
}

.table-bordered-info {
	border: 2px solid $color-info;
}

.table-bordered-dark {
	border: 2px solid $color-dark;
}

.table-primary,
.table-secondary,
.table-success,
.table-danger, 
.table-warning,
.table-info {
	tbody, thead {
		tr {
			th {
				color: $colorF;
			}
			td {
				color: $colorE; 
			}
		}
	}
}

.table-primary {
	background-color: $color-primary;
}

.table-secondary {
	color: $colorF;
	background-color: $color-secondary;
}

.table-success {
	color: $colorF;
	background-color: $color-success;
}

.table-danger {
	color: $colorF;
	background-color: $color-danger;
}

.table-warning {
	color: $colorF;
	background-color: $color-warning;
}

.table-info {
	color: $colorF;
	background-color: $color-info;
}

.table-dark {
	color: $colorF;
	background-color: $color-dark;
}

.table-head-separator-primary {
	
	thead {
		tr {
			th {
				border-bottom: 2px solid $color-primary;
			}
		}
	}
}

.table-head-separator-secondary {

	thead {
		tr {
			th {
				border-bottom: 2px solid $color-secondary;
			}
		}
	}
}

.table-head-separator-success {

	thead {
		tr {
			th {
				border-bottom: 2px solid $color-success;
			}
		}
	}
}

.table-head-separator-danger {

	thead {
		tr {
			th {
				border-bottom: 2px solid $color-danger;
			}
		}
	}
}

.table-head-separator-warning {

	thead {
		tr {
			th {
				border-bottom: 2px solid $color-warning;
			}
		}
	}
}

.table-head-separator-info {

	thead {
		tr {
			th {
				border-bottom: 2px solid $color-info;
			}
		}
	}
}

.table-head-separator-dark {

	thead {
		tr {
			th {
				border-bottom: 2px solid $color-dark;
			}
		}
	}
}

.table-bordered {
	thead {
		tr {
			th {
				border: 1px solid $colorD;
				border-bottom: 2px solid $colorD;
			}
		}
	}

	tbody {
		tr {
			td {
				border: 1px solid $colorD;
			}
		}
	}
}

.table-bordered.table-bordered-primary {
	thead {
		tr {
			th {
				border-color: $color-primary;
			}
		}
	}

	tbody {
		tr {
			td {
				border-color: $color-primary;
			}
		}
	}
}

.table-bordered.table-bordered-success {
	thead {
		tr {
			th {
				border-color: $color-success;
			}
		}
	}

	tbody {
		tr {
			td {
				border-color: $color-success;
			}
		}
	}
}

.table-bordered.table-bordered-danger {
	thead {
		tr {
			th {
				border-color: $color-danger;
			}
		}
	}

	tbody {
		tr {
			td {
				border-color: $color-danger;
			}
		}
	}
}

.table-bordered.table-bordered-warning {
	thead {
		tr {
			th {
				border-color: $color-warning;
			}
		}
	}

	tbody {
		tr {
			td {
				border-color: $color-warning;
			}
		}
	}
}

.table-bordered.table-bordered-info {
	thead {
		tr {
			th {
				border-color: $color-info;
			}
		}
	}

	tbody {
		tr {
			td {
				border-color: $color-info;
			}
		}
	}
}

.table-bordered.table-bordered-dark {
	thead {
		tr {
			th {
				border-color: $color-dark;
			}
		}
	}

	tbody {
		tr {
			td {
				border-color: $color-dark;
			}
		}
	}
}

div.dataTables_wrapper {
	font-size: $sMediumFont;
	box-shadow: none;


	div.dataTables_info {
		color: #646c9a;
		padding-top: 0;
	}
	label {
		color: #646c9a;
	}

	.dataTables_filter {
		margin: 0;
	}

	input, select {
		margin: 0;
		box-shadow: none;
		border-radius: 2px;
		border-color: #e2e5ec;
		margin-bottom: 0;
	}

	.dataTables_length {
		font-size: $sMediumFont;
		margin: 0;

		select {
			width: 60px!important;
		}
	}
}

table.dataTable.table-bordered {
	border: 1px solid #ebedf2;
	border-collapse: collapse!important;

	th {
		font-size: 12px;
		border-top: 0;
		border-bottom: 1px solid #f0f2f5;
		border-color: #f0f2f5;
	}

	td {
		font-size: 12px;
		border: 1px solid #f0f2f5;
	}

	tfoot th {
		font-size: 14px;
		border: 1px solid #f0f2f5;
	}
}

.page-item {
	margin: 0 3px;
	.page-link {
		position: relative;
		display: flex;
		-ms-justify-content: center;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 32px;
		min-width: 32px;
		padding: 7px;
		text-align: center;
		vertical-align: middle;
		font-size: 14px;
		color: #6c757d;
		border-radius: 50%;

		&:hover {
			color: #898b96;
			background: #ebe9f2;
		}
		&:focus {
			box-shadow: none;
		}
	}
	&.page-item:first-child, &.page-item:last-child {
		.page-link {
			color: $color9;
		}
	}

	&.first, &.last, &.previous, &.last {
		.page-link {
			background: #ebe9f2;
		}	
	} 
	&.disabled {
		.page-link {
			color: #898b96;
			background: #ebe9f2;
			opacity: .3;
		}
	}
}

td.details-control {
	background: url('../../assets/plugin/datatable/details_open.png') no-repeat center center;
	cursor: pointer;
}

tr.shown td.details-control {
	background: url('../../assets/plugin/datatable/details_close.png') no-repeat center center;
}

.table-date-range {
	width: 150px;
	line-height: 1.4;
	color: #777;
}

.table-input {
	width: 100%;

	th {
		padding: 8px 5px!important;
		color: #666;
		background-color: #f9f9f9;
		border: 1px solid $colorE;
	}

	td {
		padding: 0!important;
		border: 1px solid $colorE;
		background-color: #fff;
		vertical-align: top;

		.form-control, .custom-select {
			padding: 0 5px;
			margin-bottom: 0;
		}

		input {
			height: 51px;
			line-height: 51px;
		}

        select {
            font-size: 12px;
            border: 0;

            &:focus {
                outline: 1px solid $color-primary-0;
            }
        }

        textarea {
            width: 100%;
            border: 0;
            padding: 5px;


            &:focus {
                outline: 1px solid $color-primary;
            }
        }
	}
}

.table-role {
	thead {

		tr {
			th {
				padding: 12px 6px;
			}
		}
	}

	tbody {

		tr {
			td {
				padding: 12px 6px;
				.custom-checkbox-1, .custom-radio-1 {
					min-height: auto;

					.custom-control-input {
						&:checked + .custom-control-label {
							&::before {
								
							}
						}
					}

					label.custom-control-label {
						font-size: 14px;
						line-height: 16px;

						&::before {
							top: 0;
							left: 5px;
							width: 16px;
							height: 16px;
							line-height: 16px;
						}

						&::after {
							top: 0;
							left: 5px;
							width: 16px;
							height: 16px;
							line-height: 16px;
						}
					}
				}
			}
		}
	}
}

.table-container {
    background: $colorF;
    box-shadow: 0 0 10px 0 rgba(218, 218, 218, 0.1);
    
    th {
        font-size: 14px;
        font-weight: 500;
    }
    td {
        vertical-align: middle;
        font-size: 14px;
    }
}

.table-srno {
    width: 30px;
}

.table-img {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    img {
        width: 80px;
        height: 80px;
    }
}

.table-action {
    min-width: 130px;
    width: 90px;
    text-align: center;
}

.table-name {
    min-width: 200px;
    width: 200px;
}



