{{ include('common/header.twig') }}
<div class="content">
	<div class="notfound-wrapper">
		<h2>401</h2>
		<p>{{ lang.error.text_access_denied }}</p>
		<span>{{ lang.error.text_you_do_not_have_enough_execute_permissions }}</span>
	</div>
</div>
{{ include('common/footer.twig') }}

