{{ include('common/header.twig') }}
<div class="content">
	<div class="notfound-wrapper">
		<h2>403</h2>
		<p>{{ lang.error.text_forbidden }}</p>
		<span>{{ lang.error.text_you_do_not_have_the_necessary_permissions_to_access_this_page }}</span>
	</div>
</div>
<!-- Footer -->
{{ include('common/footer.twig') }}

