{{ include('common/header.twig') }}

<div class="content">
	<div class="notfound-wrapper">
		<h2>404</h2>
		<p>{{ lang.text_page_not_found }}</p>
		<span>{{ lang.text_what_you_are_trying_to_visit_does_not_exsit }}</span>
	</div>
</div>

{{ include('common/footer.twig') }}

