<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page_title }}</title>
	<link rel="icon" type="image/x-icon" href="{{ theme.favicon }}">
	
	<link rel="stylesheet" href="public/css/style.css" />
	<script type="text/javascript" src="public/js/vendor.js"></script>
	<script src="public/js/custom.js"></script>
</head>
<body>
	<div class="lgn-background">
		<div class="lgn-wrapper">
			<div class="lgn-logo text-center">
				<a><img src="{{ theme.logo }}" alt="Office Manager"></a>
				<p class="lgn-type">{{ lang.text_client_portal }}</p>
			</div>