			<div class="lgn-footer">
				<p>{{ lang.text_are_you_admin_user }}</p>
				<a href="{{ common.admin_url_route }}login">{{ lang.text_admin_login }}</a>
			</div>
		</div>
	</div>

	<script type="text/javascript" id="cookieinfo"
	data-bg="#282a3c"
	data-fg="#FFFFFF"
	data-link="#F1D600"
	data-cookie="UseCookie"
	data-text-align="left"
	data-message="{{ lang.text_cookie_message }}"
    data-close-text="Got it!"
    data-font-family="Poppins, sans-serif"
    data-moreinfo="http://wikipedia.org/wiki/HTTP_cookie"
    src="//cookieinfoscript.com/js/cookieinfo.min.js"></script>
</body>
</html>